<div class="content-section-b">
    <div class="section-heading-custom">
        <div class="container">
            <!-- <button class="menu-button pull-right" (click)="showMenu()"><i class="fa fa-bars fa-3x"></i></button> -->
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fff; font-size: 35px;">SOFTWARE
                DEVELOPMENT</h1>
            <p class="lead">
                List of Software Developments
            </p>
        </div>
    </div>
</div>
<div class="custom-content-a">
    <div class="container">
        <div class="well well-sm">
            <a routerLink="/dashboard">Dashboard</a> &nbsp; / &nbsp; Software Development
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td style="width: 59%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input type="text" class="form-control" placeholder="filter" [(ngModel)]="filter" />
                            </div>
                        </td>
                        <td style="width: 1%;"></td>
                        <td style="width: 40%;" align="right">
                            <button class="btn btn-primary" (click)="btnAddSoftwareDevelopmentClick()" data-toggle="modal"
                                data-backdrop="static" data-keyboard="false" data-target="#softwareDevelopment-detail-modal"><i
                                    class="fa fa-plus fa-fw"></i> Add</button>
                            <button class="btn btn-danger" (click)="backClicked()"><i class="fa fa-close fa-fw"></i>
                                Close</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td style="width: 29%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start Date</span>
                                <wj-input-date [(value)]="softwareDevelopmentStartDateValue" [format]="'yyyy-MM-dd'"
                                    [mask]="'9999-99-99'" (valueChanged)="softwareDevelopmentStartDateOnValueChanged()">
                                </wj-input-date>
                            </div>
                        </td>
                        <td style="width: 1%;"></td>
                        <td style="width: 29%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> End Date</span>
                                <wj-input-date [(value)]="softwareDevelopmentEndDateValue" [format]="'yyyy-MM-dd'"
                                    [mask]="'9999-99-99'" (valueChanged)="softwareDevelopmentEndDateOnValueChanged()">
                                </wj-input-date>
                            </div>
                        </td>
                        <td style="width: 1%;"></td>
                        <td style="width: 29%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-question-circle-o fa-fw"></i> Status</span>
                                <wj-combo-box [itemsSource]="fliterSoftwareDevelopmentStatusArray" [placeholder]="'Select Status'"
                                    [isEditable]="false" [isRequired]="true" [(selectedValue)]="filterSoftwareDevelopmentStatusSelectedValue"
                                    (selectedIndexChanged)="filterSoftwareDevelopmentStatusSelectedIndexChangedClick()"
                                    style="width: 100%; ">
                                </wj-combo-box>
                            </div>
                        </td>
                        <td style="width: 1%;"></td>
                        <td style="width: 10%;">
                            <button class="btn btn-default btn-block" id="btnRefresh" (click)="refreshGrid()"><i class="fa fa-refresh fa-fw"></i>
                                Refresh</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <wj-flex-grid #grid [itemsSource]="softwareDevelopmentCollectionView" [selectionMode]="3"
                    [frozenColumns]="2">
                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="60">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnEditSoftwareDevelopment()">
                                <i class="fa fa-edit fa-fw"></i> Edit
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="80">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-danger btn-xs btn-block" (click)="btnDeleteSoftwareDevelopmentClick()"
                                data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#softwareDevelopment-delete-confirmation-modal">
                                <i class="fa fa-trash fa-fw"></i> Delete
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'SoftDev No.'" [binding]="'SoftDevNumber'" [isReadOnly]="true"
                        [width]="120">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'SoftDev Date'" [binding]="'SoftDevDate'" [isReadOnly]="true"
                        [width]="120">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Project'" [binding]="'ProjectName'" [isReadOnly]="true" [width]="200">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Type'" [binding]="'SoftDevType'" [isReadOnly]="true" [width]="220">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Task'" [binding]="'Task'" [isReadOnly]="true" [width]="250">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="250">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Encoded By'" [binding]="'EncodedByUser'" [isReadOnly]="true"
                        [width]="170">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Assigned To'" [binding]="'AssignedToUser'" [isReadOnly]="true"
                        [width]="170">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'SoftDevStatus'" [isReadOnly]="true" [width]="120">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 btn-group" id="">
                        <button type="button" class="btn btn-default" (click)="softwareDevelopmentCollectionView.moveToFirstPage()">
                            <span class="glyphicon glyphicon-fast-backward"></span> First
                        </button>
                        <button type="button" class="btn btn-default" (click)="softwareDevelopmentCollectionView.moveToPreviousPage()">
                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                        </button>
                        <button type="button" class="btn btn-default" disabled style="width:100px">
                            {{ softwareDevelopmentCollectionView.pageIndex + 1 }} / {{
                            softwareDevelopmentCollectionView.pageCount }}
                        </button>
                        <button type="button" class="btn btn-default" (click)="softwareDevelopmentCollectionView.moveToNextPage()">
                            Next <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="softwareDevelopmentCollectionView.moveToLastPage()">
                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- softwareDevelopment  detail modal -->
<div class="modal fade" id="softwareDevelopment-detail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Software Development</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="isLoading" align="center">
                    <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                </div>
                <div *ngIf="isFinishLoading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Task">Task Detail</a></li>
                        <li><a data-toggle="tab" href="#More">More</a></li>
                    </ul>
                    <br />
                    <div class="tab-content">
                        <div id="Task" class="tab-pane fade in active">

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">SoftDev Date</label>
                                    <div class="col-sm-8">
                                        <wj-input-date [(value)]="softwareDevelopmentDateValue" [format]="'yyyy-MM-dd'"
                                            [mask]="'9999-99-99'" style="width: 100%; ">
                                        </wj-input-date>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Project Number</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="softwareDevelopmentProjectObservableArray"
                                            [placeholder]="'Select Project Number'" [displayMemberPath]="'ProjectNumberDetail'"
                                            [selectedValuePath]="'Id'" [(selectedValue)]="softwareDevelopmentProjectSelectedValue"
                                            [isEditable]="false" [isRequired]="true" style="width: 100%; ">
                                        </wj-combo-box>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Task</label>
                                    <div class="col-sm-8">
                                        <textarea [(ngModel)]="softwareDevelopmentTask" class="form-control" rows="7"
                                            id="softwareDevelopmentTask" name="softwareDevelopmentTask" placeholder="Task"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Type</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="softwareDevelopmentTypeArray" [placeholder]="'Select Type'"
                                            [isEditable]="false" [isRequired]="true" [(selectedValue)]="softwareDevelopmentTypeSelectedValue"
                                            style="width: 100%; ">
                                        </wj-combo-box>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Amount</label>
                                    <div class="col-sm-8">
                                        <input type="text" style="text-align: right;" [(ngModel)]="softwareDevelopmentAmount"
                                            (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKey()"
                                            class="form-control" id="softwareDevelopmentAmount" name="" placeholder="0.00" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="More" class="tab-pane fade">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Remarks</label>
                                    <div class="col-sm-8">
                                        <textarea [(ngModel)]="softwareDevelopmentRemarks" class="form-control" rows="5"
                                            id="softwareDevelopmentRemarks" name="softwareDevelopmentRemarks"
                                            placeholder="Remarks"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">No. of Hours</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="softwareDevelopmentNoOfHoursArray" [placeholder]="'Select No. of Hours'"
                                            [isEditable]="false" [isRequired]="true" [(selectedValue)]="softwareDevelopmentNoOfHoursSelectedValue"
                                            style="width: 30%; ">
                                        </wj-combo-box>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Assigned To</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="softwareDevelopmentAssignedUserObservableArray"
                                            [placeholder]="'Select User'" [displayMemberPath]="'FullName'"
                                            [selectedValuePath]="'Id'" [(selectedValue)]="softwareDevelopmentAssignedUserSelectedValue"
                                            [isEditable]="true" [isRequired]="false" style="width: 100%;  padding-left: 3px;">
                                        </wj-combo-box>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Status</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="softwareDevelopmentStatusArray" [placeholder]="'Select Status'"
                                            [isEditable]="false" [isRequired]="true" [(selectedValue)]="softwareDevelopmentStatusSelectedValue"
                                            style="width: 100%; ">
                                        </wj-combo-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" id="btnSaveSoftwareDevelopment" class="btn btn-primary" (click)="btnSaveSoftwareDevelopment()"><i
                        class="fa fa-save fa-fw"></i> Save</button>
                <button type="button" id="btnCloseSoftwareDevelopment" class="btn btn-danger" data-dismiss="modal"><i
                        class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="softwareDevelopment-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Software Development?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" id="btnDeleteSoftwareDevelopment" class="btn btn-danger" (click)="btnDeleteConfirmSoftwareDevelopmentClick()"><i
                        class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" id="btnDeleteCloseSoftwareDevelopment" class="btn btn-default" data-dismiss="modal"><i
                        class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- hidden elements to execute functions in API services -->
<button id="btn-hidden-start-loading" [hidden]="true" (click)="startLoading()"></button>
<button id="btn-hidden-complete-loading" [hidden]="true" (click)="completeLoading()"></button>
<button id="btn-hidden-project-data" [hidden]="true" (click)="getListProject()"></button>
<button id="btn-hidden-user-data" [hidden]="true" (click)="getListUser()"></button>
<button id="btn-hidden-softwareDevelopment-detail-modal" [hidden]="true" data-toggle="modal" data-target="#softwareDevelopment-detail-modal"></button>
<button id="btn-hidden-softwareDevelopment-delete-modal" [hidden]="true" data-toggle="modal" data-target="#softwareDevelopment-delete-confirmation-modal"></button>
<button id="btn-hidden-refresh-grid" [hidden]="true" (click)="getSoftwareDevelopmentData()"></button>
<button id="btn-hidden-finished-load" [hidden]="true" (click)="finishedLoad()"></button>