h1 {
    font-family: "Segoe UI Black";
}

.lead {
    font-size: 17px;
    font-weight: 400;
}

.section-heading-custom {
    padding-top: 90px;
    padding-bottom: 40px;
    background: url(../images/backgrounds/plainblack.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.content-section-a {
    padding: 30px 0px;
    background-color: #f8f8f8;
}

.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.content-section-b-custom {
    padding: 10px 0px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.banner {
    color: #fff;
    padding: 50px 0;
    background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../images/backgrounds/apple3.jpg) no-repeat center center;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding-top: 30px;
    background-color: #f8f8f8;
}

.sub-footer {
    color: #fff;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #112540;
}

p.copyright {
    margin: 15px 0 0;
}

/* Navbar Default customize */

/* navbar */
.navbar-default {
    background-color: #f8f8f8;;
    border-color: #E7E7E7;
    border-bottom: none;
    box-shadow: -1px 1px 10px 1px;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
    padding-top: 8px;
    padding-bottom: 10px;
}

.navbar-default .navbar-brand > img {
    height: 45px
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #112540;
    transition: 1s background-color;
}

.navbar-default .navbar-nav > li > a:focus  {
    background-color: transparent;
    color: #777;
}

.navbar-default .navbar-toggle {
    border-color: #F8F8F8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F8F8F8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 991px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }

    /* title */
    .navbar-default .navbar-brand {
        color: #777;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-brand > img {
        height: 45px
    }

    .navbar-default .navbar-nav > li > a {
        color: #777;
        padding-top: 10px;
        padding-bottom: 10px;
        text-indent: 20px;
    }

    .navbar-default .navbar-toggle {
        border-color: #F8F8F8;
        padding-top: 15px;
        padding-bottom: 20px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.services-text {
    color: #112540;
}

.picture-bg {
    background-color: #112540;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .img-border {
        border: 1px solid #727272;;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 15px;
    }
}

a.client-links {
    text-decoration: none;
}

a.client-links:hover > .thumbnail {
    box-shadow: 5px 5px 15px 0px #808080;;
    transition: 1s all;
}

.contact-padding {
    padding-left: 100px;
}

.banner-custom {
    padding: 50px 0;
    background: url(../images/backgrounds/phone.jpg) no-repeat center center;
    background-size: cover;
}

.badge-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  color: #fff;
}

.badge-circle.primary {
  background-color: #2e6da4 !important;
}
.badge-circle.success {
  background-color: #3f903f !important;
}
.badge-circle.warning {
  background-color: #f0ad4e !important;
}
.badge-circle.danger {
  background-color: #d9534f !important;
}
.badge-circle.info {
  background-color: #5bc0de !important;
}


.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

a.btn-facebook {
    background-color: #3b5998;
    color: white;
    border-color: #3b5998;
    transition: 1s all;
    opacity: 0.7;
}

a.btn-facebook:hover {
    background-color: #3b5998;
    color: white;
    border-color: #3b5998;
    transition: 1s all;
    opacity: 1;
}

a.btn-twiiter {
    background-color: #00aced;
    color: white;
    border-color: #00aced;
    transition: 1s all;
    opacity: 0.7;
}

a.btn-twiiter:hover {
    background-color: #00aced;
    color: white;
    border-color: #00aced;
    transition: 1s all;
    opacity: 1;
}

a.btn-linkedin {
    background-color: #0077B5;
    color: white;
    border-color: #0077B5;
    transition: 1s all;
    opacity: 0.7;
}

a.btn-linkedin:hover {
    background-color: #0077B5;
    color: white;
    border-color: #0077B5;
    transition: 1s all;
    opacity: 1;
}

a.btn-pinterest {
    background-color: #C92228;
    color: white;
    border-color: #C92228;
    transition: 1s all;
    opacity: 0.7;
}

a.btn-pinterest:hover {
    background-color: #C92228;
    color: white;
    border-color: #C92228;
    transition: 1s all;
    opacity: 1;
}

a.btn-instagram {
    background-color: #fb3958;
    color: white;
    border-color: #fb3958;
    transition: 1s all;
    opacity: 0.7;
}

a.btn-instagram:hover {
    background-color: #fb3958;
    color: white;
    border-color: #fb3958;
    transition: 1s all;
    opacity: 1;
}

/* customize carousel */
/*.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function:linear;
}

a.carousel-control:hover {
    transition: 0.5s all;
}
*/

a.carousel-control.left, a.carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
/*@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}*/

/* timeline */
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  margin-left: -1.5px;
  background-color: #eeeeee;
}
.timeline > li {
  position: relative;
  margin-bottom: 20px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  float: left;
  position: relative;
  width: 46%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: white;
}
.timeline > li > .timeline-panel:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 26px;
  right: -15px;
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}
.timeline > li > .timeline-panel:after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: -14px;
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}
.timeline > li > .timeline-badge {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  color: #fff;
  background-color: #999999;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  background: white;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(10%);
    width: -moz-calc(10%);
    width: -webkit-calc(10%);
  }
  ul.timeline > li > .timeline-badge {
    top: 16px;
    left: 0px;
    margin-left: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
    width: 87%;
    padding-left: 40px;
  }
  ul.timeline > li > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  ul.timeline > li > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }

  .timeline:before {
        content: " ";
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        margin-left: 0;
        background-color: #eeeeee;
    }
}

a.about-pic-link:hover > .panel {
    box-shadow: 5px 5px 15px 0px #808080;;
    transition: 1s all;
}
a.client-accordion:hover,a.client-accordion:focus{
    text-decoration:none;
}

.carousel-caption {
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
    top: 130px;
    text-shadow: initial;
    font-weight: bold;
    color: #2f2f1e;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 100px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 101px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

table.features-style {
    border: none;
    width: 100%;
}

.custom-content-a {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

.custom-content-b {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
}

.footer-link {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #112540;
}

.footer-link:hover {
    text-decoration: none;
}