<div class="content-section-b">
    <div class="section-heading-custom">
        <div class="container">
            <button class="menu-button pull-right" (click)="showMenu()"><i class="fa fa-bars fa-3x"></i></button>
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fff; font-size: 35px;">QUOTATION DETAIL</h1>
            <p class="lead">
                Quotation Header Detail and Activities
            </p>
        </div>
    </div>
</div>
<div class="custom-content-a">
    <div class="container">
        <div class="well well-sm">
            <a routerLink="/dashboard">Dashboard</a> &nbsp; / &nbsp; <a routerLink="/quotation">Quotations</a> &nbsp; / &nbsp;
            Quotation Detail
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td align="right">
                            <button class="btn btn-primary" id="btnSaveQuotationDetail" name="btnSaveQuotationDetail" (click)="btnSaveQuotationDetailClick()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button class="btn btn-primary" id="btnPrintQuotationDetail" name="btnPrintQuotationDetail" (click)="btnPrintQuotationDetailClick()"
                                data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#print-quotation-detail-modal"><i class="fa fa-print fa-fw"></i> Print</button>
                            <button class="btn btn-danger" id="btnCloseQuotationDetail" name="btnCloseQuotationDetail" (click)="backClicked()"><i class="fa fa-close fa-fw"></i> Close</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <div *ngIf="isLoading" align="center">
                    <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                </div>
                <div *ngIf="isFinishLoading">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Quotation Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="quotationNumber" [disabled]="true" class="form-control" id="quotationNumber" name="quotationNumber"
                                            placeholder="Quotation Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Quotation Date</label>
                                    <div class="col-sm-8">
                                        <wj-input-date [(value)]="quotationDateValue" [format]="'yyyy-MM-dd'" [mask]="'9999-99-99'" style="width: 100%;">
                                        </wj-input-date>
                                        <input type="hidden" class="form-control" id="quotationDateValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Lead Number</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="quotationLeadObservableArray" [placeholder]="'Select Lead Number'" [displayMemberPath]="'LeadNumberDetail'"
                                            [selectedValuePath]="'Id'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="quotationLeadSelectedValue"
                                            style="width: 100%;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="quotationLeadSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Customer</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="quotationCustomerObservableArray" [placeholder]="'Select Customer'" [displayMemberPath]="'Article'"
                                            [selectedValuePath]="'Id'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="quotationCustomerSelectedValue"
                                            style="width: 100%;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="quotationCustomerSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Product</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="quotationProductObservableArray" [placeholder]="'Select Product'" [displayMemberPath]="'Article'"
                                            [selectedValuePath]="'Id'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="quotationProductSelectedValue"
                                            style="width: 100%;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="quotationProductSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Encoded By</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="quotationEncodedBySelectedValue" [disabled]="true" class="form-control" id="quotationEncodedBySelectedValue"
                                            name="quotationEncodedBySelectedValue" placeholder="Staff" />
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-sm-4">Encoded By</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="quotationEncodedUserObservableArray" 
                                            [placeholder]="'Select User'"
                                            [displayMemberPath]="'FullName'" 
                                            [selectedValuePath]="'Id'"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [isDisabled]="true"
                                            [(selectedValue)]="quotationEncodedBySelectedValue"
                                            style="width: 100%;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="quotationEncodedBySelectedValue" />
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Remarks</label>
                                    <div class="col-sm-8">
                                        <textarea [(ngModel)]="quotationRemarks" class="form-control" rows="7" id="quotationRemarks" name="quotationRemarks" placeholder="Remarks"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Status</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box [itemsSource]="quotationStatusArray" [placeholder]="'Select Status'" [isEditable]="true" [isRequired]="false"
                                            [(selectedValue)]="quotationStatusSelectedValue" style="width: 100%;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="quotationStatusSelectedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td>
                            <h4> Activity </h4>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" (click)="btnActivityDetailModal(true)" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                data-target="#activity-detail-modal"><i class="fa fa-plus fa-fw"></i> Add</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <wj-flex-grid [itemsSource]="activityCollectionView" [selectionMode]="3">
                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="60">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnActivityDetailModal(false)" data-toggle="modal" data-backdrop="static"
                                data-keyboard="false" data-target="#activity-detail-modal">
                                <i class="fa fa-edit fa-fw"></i> Edit
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="80">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-danger btn-xs btn-block" (click)="btnActivityDeleteConfirmationModal()" data-toggle="modal" data-backdrop="static"
                                data-keyboard="false" data-target="#activity-delete-confirmation-modal">
                                <i class="fa fa-trash fa-fw"></i> Delete
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Print" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnActivityPrintClick()">
                                <i class="fa fa-print fa-fw"></i> Print
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Activity No.'" [binding]="'ActivityNumber'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Activity Date'" [binding]="'ActivityDate'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Staff'" [binding]="'StaffUser'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Particualrs'" [binding]="'Particulars'" [isReadOnly]="true" [width]="'2.5*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'ActivityStatus'" [isReadOnly]="true" [width]="'1.5*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 btn-group" id="">
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToFirstPage()">
                            <span class="glyphicon glyphicon-fast-backward"></span> First
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToPreviousPage()">
                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                        </button>
                        <button type="button" class="btn btn-default" disabled style="width:100px">
                            {{ activityCollectionView.pageIndex + 1 }} / {{ activityCollectionView.pageCount }}
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToNextPage()">
                            Next <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToLastPage()">
                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- activity  detail modal -->
<div class="modal fade" id="activity-detail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ activityDetailModalString }} Activity</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Activity Date</label>
                        <div class="col-sm-8">
                            <wj-input-date [(value)]="activityDateValue" [format]="'yyyy-MM-dd'" [mask]="'9999-99-99'" style="width: 100%;">
                            </wj-input-date>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Particular Category</label>
                        <div class="col-sm-8">
                            <wj-combo-box [itemsSource]="activityParticularCategories" [placeholder]="'Select Particular Category'" [isEditable]="false"
                                [isRequired]="true" [(selectedValue)]="activityParticularCategorySelectedValue" style="width: 100%;">
                            </wj-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Particulars</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="7" id="activityParticulars" name="Particulars" placeholder="Particulars"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">No. of Hours</label>
                        <div class="col-sm-8">
                            <wj-combo-box [itemsSource]="activityNoOfHours" [placeholder]="'Select No. of Hours'" [isEditable]="false" [isRequired]="true"
                                [(selectedValue)]="activityNoOfHoursSelectedValue" style="width: 30%;">
                            </wj-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Amount</label>
                        <div class="col-sm-8">
                            <input type="text" style="text-align: right;" [(ngModel)]="activityAmount" (keypress)="onKeyPressOnlyDecimalNumberKey($event)"
                                (blur)="onBlurOnlyDecimalNumberKey()" class="form-control" id="activityAmount" name="" placeholder="0.00"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Status</label>
                        <div class="col-sm-8">
                            <wj-combo-box [itemsSource]="activityStatus" [placeholder]="'Select Status'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="activityStatusSelectedValue"
                                style="width: 100%;">
                            </wj-combo-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnActivitySave" (click)="btnActivitySaveClick()"><i class="fa fa-save fa-fw"></i> Save</button>
                <button type="button" class="btn btn-danger" id="btnActivityClose" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="activity-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Activity?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnActivityDeleteConfirmation" (click)="btnActivityDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnActivityCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- quotation  detail modal -->
<div class="modal fade" id="print-quotation-detail-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Print Quotation</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#customer">Customer</a></li>
                    <li><a data-toggle="tab" href="#product" (click)="productTabClick()">Product / Service</a></li>
                    <li><a data-toggle="tab" href="#payment" (click)="paymentTabClick()">Payment Schedule</a></li>
                    <li><a data-toggle="tab" href="#timeline" (click)="timeLineTabClick()">Project Timeline and Delivery</a></li>
                    <li><a data-toggle="tab" href="#user">User</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="customer" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Customer</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printQuotationCustomer" placeholder="Customer Name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="7" id="printQuotationAddress" name="printQuotationAddress" placeholder="Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Person</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printQuotationContactPerson" placeholder="Contact Person" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printQuotationContactNumber" placeholder="Contact Number" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Email</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printQuotationContactEmail" placeholder="Contact Email" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">QRef No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="QRefNo" placeholder="QRef No" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Date</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="QDate" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Client PO No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="ClientPONo" placeholder="Client PO No" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Client PO Date</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="ClientPODate" placeholder="Client PO Date" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Leads Ref No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="LeadsRefNo" placeholder="Leads Ref No" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <button class="btn btn-primary" (click)="productOnclick()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                    data-target="#quotation-print-add-product"><i class="fa fa-plus fa-fw"></i> Add</button>
                            </div>
                            <div class="panel-body">
                                <wj-flex-grid [itemsSource]="productCollectionView" [selectionMode]="3">
                                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-primary btn-xs btn-block" (click)="productEdit()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                data-target="#quotation-print-add-product">
                                                <i class="fa fa-edit fa-fw"></i> Edit
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#product-delete-confirmation-modal">
                                                <i class="fa fa-trash fa-fw"></i> Remove
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Code'" [binding]="'ProductCode'" [isReadOnly]="true" [width]="'2*'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Description'" [binding]="'ProductDescription'" [isReadOnly]="true" [width]="'3*'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Unit Price'" [binding]="'Price'" [isReadOnly]="true" [width]="'2*'" [align]="'right'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Quantity'" [binding]="'Quantity'" [isReadOnly]="true" [width]="'2*'" [align]="'right'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Amount'" [binding]="'Amount'" [isReadOnly]="true" [width]="'2*'" [align]="'right'">
                                    </wj-flex-grid-column>
                                </wj-flex-grid>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 btn-group" id="">
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToFirstPage()">
                                            <span class="glyphicon glyphicon-fast-backward"></span> First
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToPreviousPage()">
                                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                                        </button>
                                        <!--<button type="button" class="btn btn-default" disabled  style="width:100px">
                                            {{ paymentScheduleCollectionView.pageIndex + 1 }} / {{ paymentScheduleCollectionView.pageCount }}
                                        </button>-->
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToNextPage()">
                                            Next <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToLastPage()">
                                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="payment" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <button class="btn btn-primary" (click)="paymentOnclick()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                    data-target="#quotation-print-add-payment"><i class="fa fa-plus fa-fw"></i> Add</button>
                            </div>
                            <div class="panel-body">
                                <wj-flex-grid [itemsSource]="paymentScheduleCollectionView" [selectionMode]="3">
                                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-primary btn-xs btn-block" (click)="paymentEdit()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                data-target="#quotation-print-add-payment">
                                                <i class="fa fa-edit fa-fw"></i> Edit
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#payment-delete-confirmation-modal">
                                                <i class="fa fa-trash fa-fw"></i> Remove
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Description'" [binding]="'Description'" [isReadOnly]="true" [width]="'1.5*'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Amount'" [binding]="'Amount'" [isReadOnly]="true" [width]="'1*'" [align]="'right'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                                    </wj-flex-grid-column>
                                </wj-flex-grid>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 btn-group" id="">
                                        <button type="button" class="btn btn-default" (click)="paymentScheduleCollectionView.moveToFirstPage()">
                                            <span class="glyphicon glyphicon-fast-backward"></span> First
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="paymentScheduleCollectionView.moveToPreviousPage()">
                                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                                        </button>
                                        <!--<button type="button" class="btn btn-default" disabled  style="width:100px">
                                            {{ paymentScheduleCollectionView.pageIndex + 1 }} / {{ paymentScheduleCollectionView.pageCount }}
                                        </button>-->
                                        <button type="button" class="btn btn-default" (click)="paymentScheduleCollectionView.moveToNextPage()">
                                            Next <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="paymentScheduleCollectionView.moveToLastPage()">
                                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="timeline" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <button class="btn btn-primary" (click)="timelineOnclick()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                    data-target="#quotation-print-add-timeline"><i class="fa fa-plus fa-fw"></i> Add</button>
                            </div>
                            <div class="panel-body">
                                <wj-flex-grid [itemsSource]="timelineCollectionView" [selectionMode]="3">
                                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-primary btn-xs btn-block" (click)="timelineEdit()" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                                                data-target="#quotation-print-add-timeline">
                                                <i class="fa fa-edit fa-fw"></i> Edit
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#timeline-delete-confirmation-modal">
                                                <i class="fa fa-trash fa-fw"></i> Remove
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Product'" [binding]="'Product'" [isReadOnly]="true" [width]="'1*'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Estimated Timeline'" [binding]="'Timeline'" [isReadOnly]="true" [width]="'1.5*'" [align]="'right'">
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'1.5*'">
                                    </wj-flex-grid-column>
                                </wj-flex-grid>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 btn-group" id="">
                                        <button type="button" class="btn btn-default" (click)="timelineCollectionView.moveToFirstPage()">
                                            <span class="glyphicon glyphicon-fast-backward"></span> First
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="timelineCollectionView.moveToPreviousPage()">
                                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                                        </button>
                                        <!--<button type="button" class="btn btn-default" disabled  style="width:100px">
                                            {{ timelineCollectionView.pageIndex + 1 }} / {{ timelineCollectionView.pageCount }}
                                        </button>-->
                                        <button type="button" class="btn btn-default" (click)="timelineCollectionView.moveToNextPage()">
                                            Next <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="timelineCollectionView.moveToLastPage()">
                                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Prepared By</label>
                                                <div class="col-sm-8">
                                                    <wj-combo-box [itemsSource]="quotationPrintPreparedByUserObservableArray" [placeholder]="'Select User'" [displayMemberPath]="'FullName'"
                                                        [selectedValuePath]="'FullName'" [isEditable]="false" [isRequired]="true"
                                                        [(selectedValue)]="quotationPrintPreparedByUserSelectedValue" style="width: 100%;">
                                                    </wj-combo-box>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Approved By</label>
                                                <div class="col-sm-8">
                                                    <wj-combo-box [itemsSource]="quotationPrintApprovedByUserObservableArray" [placeholder]="'Select User'" [displayMemberPath]="'FullName'"
                                                        [selectedValuePath]="'FullName'" [isEditable]="false" [isRequired]="true"
                                                        [(selectedValue)]="quotationPrintApprovedByUserSelectedValue" style="width: 100%;">
                                                    </wj-combo-box>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" id="btnPrintQuotationDetailPrintButton" class="btn btn-primary" (click)="btnPrintQuotationDetailPrintButtonClick()"><i class="fa fa-print fa-fw"></i> Print</button>
                <button type="button" id="btnPrintQuotationDetailCloseButton" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- quotation payment modal -->
<div class="modal fade" id="quotation-print-add-payment" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ printQuotationString }} Payment Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" [(ngModel)]="quotationPrintDescription" id="quotationPrintDescription" name="Particulars"
                                placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Amount</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="text-align: right;" [(ngModel)]="quotationPrintAmount" id="quotationPrintAmount"
                                (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKeyForPrintQuotation()"
                                placeholder="Amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Remarks</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="7" [(ngModel)]="quotationPrintRemarks" id="quotationPrintRemarks" name="Remarks" placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnAddPaymentData" (click)="btnAddPaymentDataClick()"><i class="fa fa-plus fa-fw"></i> Save</button>
                <button type="button" class="btn btn-default" id="btnPaymentCloseModal" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="payment-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Payment Schedule?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnPaymentDeleteConfirmation" (click)="btnPaymentDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnPaymentCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- quotation product modal -->
<div class="modal fade" id="quotation-print-add-product" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ printProductQuotationString }} Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Code</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="printQuotationProductCode" placeholder="Product Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="printQuotationProductDescription" name="printQuotationProductDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Is Discount</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="printQuotationIsDiscount" name="printQuotationIsDiscount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Price</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="text-align: right;" (keyup)="priceOnKeyEvent($event)" [(ngModel)]="printQuotationProductPrice"
                                id="printQuotationProductPrice" (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKeyForProductPricePrintQuotation()"
                                placeholder="Price" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="text-align: right;" (keyup)="quantityOnKeyEvent($event)" [(ngModel)]="printQuotationProductQuantity"
                                id="printQuotationProductQuantity" (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKeyForProductQuantityPrintQuotation()"
                                placeholder="Quantity" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Amount</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="text-align: right;" [(ngModel)]="printQuotationProductAmount" id="printQuotationProductAmount"
                                (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKeyForProductAmountPrintQuotation()"
                                placeholder="Amount" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnAddProductData" (click)="btnAddProductDataClick()"><i class="fa fa-plus fa-fw"></i> Save</button>
                <button type="button" class="btn btn-default" id="btnProductCloseModal" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="product-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Product?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnProductDeleteConfirmation" (click)="btnProductDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete </button>
                <button type="button" class="btn btn-default" id="btProductCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close </button>
            </div>
        </div>
    </div>
</div>

<!-- quotation timeline modal -->
<div class="modal fade" id="quotation-print-add-timeline" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ printTimelineQuotationString }} Timeline Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Product</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="printQuotationTimeLineProduct" placeholder="Product" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Estimated TimeLine</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="printQuotationTimeLine" name="printQuotationTimeLine" placeholder="Timeline"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Remarks</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="7" [(ngModel)]="printQuotationTimeLineRemarks" id="printQuotationTimeLineRemarks" name="printQuotationTimeLineRemarks"
                                placeholder="Remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnAddtimelineData" (click)="btnAddtimelineDataClick()"><i class="fa fa-plus fa-fw"></i> Save</button>
                <button type="button" class="btn btn-default" id="btntimelineCloseModal" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="timeline-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Timeline Schedule?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnTimelineDeleteConfirmation" (click)="btnTimelineDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnTimelineCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- hidden elements to execute functions in API services -->
<button id="btn-hidden-start-loading" [hidden]="true"></button>
<button id="btn-hidden-complete-loading" [hidden]="true" (click)="completeLoading()"></button>
<button id="btn-hidden-lead-data" [hidden]="true" (click)="getLeadServiceData()"></button>
<button id="btn-hidden-customer-data" [hidden]="true" (click)="getCustomerArticleData()"></button>
<button id="btn-hidden-product-data" [hidden]="true" (click)="getProductArticleData()"></button>
<button id="btn-hidden-encoded-user-data" [hidden]="true" (click)="getUserServiceData()"></button>
<button id="btn-hidden-quotation-data" [hidden]="true" (click)="getQuotationServiceData()"></button>
<button id="btn-hidden-selectedValue-data" [hidden]="true" (click)="setDropdownSelectedValueData()"></button>
<button id="btn-hidden-activity-delete-modal" [hidden]="true" data-toggle="modal" data-target="#activity-delete-confirmation-modal"></button>
<button id="btn-hidden-activity-detail-modal" [hidden]="true" data-toggle="modal" data-target="#activity-detail-modal"></button>
<button id="btn-hidden-activity-data" [hidden]="true" (click)="getListActivity(true)"></button>
<button id="btn-hidden-finished-load" [hidden]="true" (click)="finishedLoad()"></button>