<div class="content-section-b">
    <div class="section-heading-custom">
        <div class="container">
            <button class="menu-button pull-right" (click)="showMenu()"><i class="fa fa-bars fa-3x"></i></button>
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fff; font-size: 35px;">KICK-OFF MEETING / PRODUCT DELIVERY DETAIL</h1>
             <p class="lead">
                Kick-Off Meeting and Product Delivery Header Detail and Activities
            </p>
        </div>
    </div>
</div>

<div class="custom-content-a">
    <div class="container">
         <div class="well well-sm">
            <a routerLink="/dashboard">Dashboard</a> &nbsp; / &nbsp; <a routerLink="/delivery">Deliveries</a> &nbsp; / &nbsp; Delivery Detail
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                 <table border="0" style="width: 100%;">
                    <tr>
                        <td align="right">
                            <button class="btn btn-primary" id="btnSaveDeliveryDetail" name="btnSaveDeliveryDetail" (click)="btnSaveDeliveryDetailClick()"><i class="fa fa-save fa-fw"></i> Save</button>
                            <button class="btn btn-primary" id="btnPrintDeliveryDetail" name="btnPrintDeliveryDetail" (click)="btnPrintDeliveryDetailClick()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#print-delivery-detail-modal"><i class="fa fa-print fa-fw"></i> Print</button>
                            <button class="btn btn-danger" id="btnCloseDeliveryDetail" name="btnCloseDeliveryDetail" (click)="backClicked()"><i class="fa fa-close fa-fw"></i> Close</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <div *ngIf="isLoading" align="center">
                    <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                </div>
                <div *ngIf="isFinishLoading"> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Delivery Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="deliveryNumber" [disabled]="true" class="form-control" id="deliveryNumber" name="deliveryNumber" placeholder="Delivery Number" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Delivery Date</label>
                                    <div class="col-sm-8">
                                        <wj-input-date
                                            [(value)]="deliveryDateValue"
                                            [format]="'yyyy-MM-dd'"
                                            [mask]="'9999-99-99'" 
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-input-date>
                                        <input type="hidden" class="form-control" id="deliveryDateValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Quotaion No.</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="deliveryQuotaionObservableArray" 
                                            [placeholder]="'Select Quotation Number'"
                                            [displayMemberPath]="'QuotationNumberDetail'" 
                                            [selectedValuePath]="'Id'"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [(selectedIndex)]="deliveryQuotaionSelectedIndex"
                                            [(selectedValue)]="deliveryQuotaionSelectedValue"
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="deliveryQuotaionSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Meeting Date</label>
                                    <div class="col-sm-8">
                                        <wj-input-date
                                            [(value)]="deliveryMeetingDateValue" 
                                            [format]="'yyyy-MM-dd'"
                                            [mask]="'9999-99-99'" 
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-input-date>
                                        <input type="hidden" class="form-control" id="deliveryMeetingDateValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Remarks</label>
                                    <div class="col-sm-8">
                                        <textarea [(ngModel)]="deliveryRemarks" class="form-control" rows="5" id="deliveryRemarks" name="deliveryRemarks"  placeholder="Remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Sales Staff</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="deliverySalesUserSelectedValue" [disabled]="true" class="form-control" id="deliverySalesUserSelectedValue" name="deliverySalesUserSelectedValue" placeholder="Staff" />
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="control-label col-sm-4">Sales Staff</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="deliverySalesUserObservableArray" 
                                            [placeholder]="'Select User'"
                                            [displayMemberPath]="'FullName'" 
                                            [selectedValuePath]="'Id'"
                                            [isDisabled]="true"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [(selectedValue)]="deliverySalesUserSelectedValue"
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="deliverySalesUserSelectedValue" />
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Technical Staff</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="deliveryTechnicalUserObservableArray" 
                                            [placeholder]="'Select User'"
                                            [displayMemberPath]="'FullName'" 
                                            [selectedValuePath]="'Id'"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [(selectedValue)]="deliveryTechnicalUserSelectedValue"
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="deliveryTechnicalUserSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Functional Staff</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="deliveryFunctionalUserObservableArray" 
                                            [placeholder]="'Select User'"
                                            [displayMemberPath]="'FullName'" 
                                            [selectedValuePath]="'Id'"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [(selectedValue)]="deliveryFunctionalUserSelectedValue"
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="deliveryFunctionalUserSelectedValue" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Status</label>
                                    <div class="col-sm-8">
                                        <wj-combo-box 
                                            [itemsSource]="deliveryStatusArray" 
                                            [placeholder]="'Select Status'"
                                            [isEditable]="false"
                                            [isRequired]="true"
                                            [(selectedValue)]="deliveryStatusSelectedValue"
                                            style="width: 100%; border-radius: 0px;">
                                        </wj-combo-box>
                                        <input type="hidden" class="form-control" id="deliveryStatusSelectedValue" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td>
                            <h4> Activity  </h4>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" (click)="btnActivityDetailModal(true)" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#activity-detail-modal"><i class="fa fa-plus fa-fw"></i> Add</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <wj-flex-grid [itemsSource]="activityCollectionView" [selectionMode]="3" style="border-radius: 0px;">
                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="60">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnActivityDetailModal(false)" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#activity-detail-modal">
                                <i class="fa fa-edit fa-fw"></i> Edit
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="80">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-danger btn-xs btn-block" (click)="btnActivityDeleteConfirmationModal()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#activity-delete-confirmation-modal">
                                <i class="fa fa-trash fa-fw"></i> Delete
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Print" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnActivityPrintClick()">
                                <i class="fa fa-print fa-fw"></i> Print
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Activity No.'" [binding]="'ActivityNumber'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Activity Date'" [binding]="'ActivityDate'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Staff'" [binding]="'StaffUser'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Particualrs'" [binding]="'Particulars'" [isReadOnly]="true" [width]="'2.5*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'ActivityStatus'" [isReadOnly]="true" [width]="'1.5*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 btn-group" id="">
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToFirstPage()">
                            <span class="glyphicon glyphicon-fast-backward"></span> First
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToPreviousPage()">
                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                        </button>
                        <button type="button" class="btn btn-default" disabled  style="width:100px">
                            {{ activityCollectionView.pageIndex + 1 }} / {{ activityCollectionView.pageCount }}
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToNextPage()">
                            Next <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="activityCollectionView.moveToLastPage()">
                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- activity  detail modal -->
<div class="modal fade" id="activity-detail-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ activityDetailModalString }} Activity</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Activity Date</label>
                        <div class="col-sm-8">
                                <wj-input-date
                                [(value)]="activityDateValue" 
                                [format]="'yyyy-MM-dd'"
                                [mask]="'9999-99-99'" 
                                style="width: 100%; border-radius: 0px;">
                            </wj-input-date>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Particular Category</label>
                        <div class="col-sm-8">
                                <wj-combo-box 
                                [itemsSource]="activityParticularCategories" 
                                [placeholder]="'Select Particular Category'"
                                [isEditable]="false"
                                [isRequired]="true"
                                [(selectedValue)]="activityParticularCategorySelectedValue"
                                style="width: 100%; border-radius: 0px;">
                            </wj-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Particulars</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="activityParticulars" name="Particulars" placeholder="Particularss"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">No. of Hours</label>
                        <div class="col-sm-8">
                            <wj-combo-box 
                                [itemsSource]="activityNoOfHours" 
                                [placeholder]="'Select No. of Hours'"
                                [isEditable]="false"
                                [isRequired]="true"
                                [(selectedValue)]="activityNoOfHoursSelectedValue"
                                style="width: 30%; border-radius: 0px;">
                            </wj-combo-box>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Amount</label>
                        <div class="col-sm-8">
                            <input type="text" style="text-align: right;" [(ngModel)]="activityAmount" (keypress)="onKeyPressOnlyDecimalNumberKey($event)" (blur)="onBlurOnlyDecimalNumberKey()" class="form-control" id="activityAmount" name="" placeholder="0.00" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Status</label>
                        <div class="col-sm-8">
                            <wj-combo-box 
                                [itemsSource]="activityStatus" 
                                [placeholder]="'Select Status'"
                                [isEditable]="false"
                                [isRequired]="true"
                                [(selectedValue)]="activityStatusSelectedValue"
                                style="width: 100%; border-radius: 0px;">
                            </wj-combo-box>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnActivitySave" (click)="btnActivitySaveClick()"><i class="fa fa-save fa-fw"></i> Save</button>
                <button type="button" class="btn btn-danger" id="btnActivityClose" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="activity-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Activity?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnActivityDeleteConfirmation" (click)="btnActivityDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnActivityCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- print delivery detail modal -->
<div class="modal fade" id="print-delivery-detail-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Print Kick-Off / Product Delivery</h4>
            </div>
            <div class="modal-body">
                 <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#customer">Customer</a></li>
                    <li><a data-toggle="tab" href="#product" (click)="productTabClick()">Product / Service</a></li>
                    <li><a data-toggle="tab" href="#particulars">Particulars</a></li>
                    <li><a data-toggle="tab" href="#checklist" (click)="checkListTabClick()">Checklist</a></li>
                    <li><a data-toggle="tab" href="#user">User</a></li>
                </ul>
                <br />
                <div class="tab-content">
                    <div id="customer" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">IS Form No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printDeliveryInnosoftFormNo" placeholder="Innosoft Form No" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Document No</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printDeliveryDocumentNo" placeholder="Document No" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Customer</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printDeliveryCustomer" placeholder="Customer Name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Phone Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printDeliveryPhoneNumber" placeholder="Phone Number" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="5" id="printDeliveryAddress" placeholder="Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Contact Person</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="pprintDeliveryContactPerson" placeholder="Contact Person" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Phone Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="printDeliveryContactPersonPhoneNumber" placeholder="Phone Number" />
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label class="control-label col-sm-4">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" rows="5" id="printDeliveryContactPersonAddress" placeholder="Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product" class="tab-pane fade">
                         <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <button class="btn btn-primary" (click)="productOnclick()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#delivery-print-add-product"><i class="fa fa-plus fa-fw"></i> Add</button>
                            </div>
                            <div class="panel-body">
                                <wj-flex-grid [itemsSource]="productCollectionView" [selectionMode]="3" style="border-radius: 0px;">
                                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-primary btn-xs btn-block" (click)="productEdit()" data-toggle="modal"  data-backdrop="static" data-keyboard="false" data-target="#delivery-print-add-product">
                                                <i class="fa fa-edit fa-fw"></i> Edit
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#product-delete-confirmation-modal">
                                                <i class="fa fa-trash fa-fw"></i> Remove
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Product'" [binding]="'ProductDescription'" [isReadOnly]="true" [width]="'3*'">
                                    </wj-flex-grid-column>
                                </wj-flex-grid>
                            </div>
                             <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 btn-group" id="">
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToFirstPage()">
                                            <span class="glyphicon glyphicon-fast-backward"></span> First
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToPreviousPage()">
                                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToNextPage()">
                                            Next <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="productCollectionView.moveToLastPage()">
                                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div id="particulars" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Particulars</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="5" id="printDeliveryParticulars" placeholder="Particulars"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="checklist" class="tab-pane fade">
                         <div class="panel panel-default">
                            <div class="panel-heading" align="right">
                                <button class="btn btn-primary" (click)="checkListOnclick()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#delivery-print-add-checkList"><i class="fa fa-plus fa-fw"></i> Add</button>
                            </div>
                            <div class="panel-body">
                                <wj-flex-grid [itemsSource]="checkListCollectionView" [selectionMode]="3" style="border-radius: 0px;">
                                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="70">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-primary btn-xs btn-block" (click)="checkListEdit()" data-toggle="modal"  data-backdrop="static" data-keyboard="false" data-target="#delivery-print-add-checkList">
                                                <i class="fa fa-edit fa-fw"></i> Edit
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="90">
                                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                            <button class="btn btn-danger btn-xs btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#checkList-delete-confirmation-modal">
                                                <i class="fa fa-trash fa-fw"></i> Remove
                                            </button>
                                        </template>
                                    </wj-flex-grid-column>
                                    <wj-flex-grid-column [header]="'Description'" [binding]="'checkListDescription'" [isReadOnly]="true" [width]="'3*'">
                                    </wj-flex-grid-column>
                                </wj-flex-grid>
                            </div>
                             <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 btn-group" id="">
                                        <button type="button" class="btn btn-default" (click)="checkListCollectionView.moveToFirstPage()">
                                            <span class="glyphicon glyphicon-fast-backward"></span> First
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="checkListCollectionView.moveToPreviousPage()">
                                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="checkListCollectionView.moveToNextPage()">
                                            Next <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="checkListCollectionView.moveToLastPage()">
                                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                                        </button>
                                    </div> 
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div id="user" class="tab-pane fade">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                          <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Prepared By</label>
                                                <div class="col-sm-8">
                                                    <wj-combo-box 
                                                        [itemsSource]="deliveryPrintPreparedByUserObservableArray" 
                                                        [placeholder]="'Select User'"
                                                        [displayMemberPath]="'FullName'" 
                                                        [selectedValuePath]="'FullName'"
                                                        [isEditable]="false"
                                                        [isRequired]="true"
                                                        [(selectedValue)]="deliveryPrintPreparedBySelectedValue"
                                                        style="width: 100%; border-radius: 0px;">
                                                    </wj-combo-box>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Sales</label>
                                                <div class="col-sm-8">
                                                    <wj-combo-box 
                                                        [itemsSource]="deliveryPrintSalesUserObservableArray" 
                                                        [placeholder]="'Select User'"
                                                        [displayMemberPath]="'FullName'" 
                                                        [selectedValuePath]="'FullName'"
                                                        [isEditable]="false"
                                                        [isRequired]="true"
                                                        [(selectedValue)]="deliveryPrintSalesUserSelectedValue"
                                                        style="width: 100%; border-radius: 0px;">
                                                    </wj-combo-box>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Technical</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="deliveryPrintUserTechnical" placeholder="Customer Name" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Functional</label>
                                                <div class="col-sm-8">
                                                     <input type="text" class="form-control" id="deliveryPrintUserFunctional" placeholder="Customer Name" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Customer</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="deliveryPrintUserCustomer" placeholder="Customer Name" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnPrintDelivery" (click)="btnPrintDeliveryClick()"><i class="fa fa-print fa-fw"></i> Print</button>
                <button type="button" class="btn btn-danger" id="btnPrintDeliveryClose" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delivery product modal -->
<div class="modal fade" id="delivery-print-add-product" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ printProductDeliveryString }} Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Product Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="printDeliveryProductDescription" name="printQuotationProductDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnAddProductData" (click)="btnAddProductDataClick()"><i class="fa fa-plus fa-fw"></i> Save</button>
                <button type="button" class="btn btn-default" id="btnProductCloseModal" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="product-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Product?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnProductDeleteConfirmation" (click)="btnProductDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete </button>
                <button type="button" class="btn btn-default" id="btProductCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close </button>
            </div>
        </div>
    </div>
</div>

<!-- delivery checkList modal -->
<div class="modal fade" id="delivery-print-add-checkList" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ printCheckListString }} Check List</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" id="printdeliveryCheckListDescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-primary" id="btnAddCheckListData" (click)="btnAddCheckListDataClick()"><i class="fa fa-plus fa-fw"></i> Save</button>
                <button type="button" class="btn btn-default" id="btnCheckListCloseModal" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="checkList-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Check List?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" class="btn btn-danger" id="btnCheckListDeleteConfirmation" (click)="btnCheckListDeleteConfirmationClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" class="btn btn-default" id="btnCheckListCloseDeleteConfirmation" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- hidden elements to execute functions in API services -->
<button id="btn-hidden-start-loading" [hidden]="true" (click)="startLoading()"></button>
<button id="btn-hidden-complete-loading" [hidden]="true" (click)="completeLoading()"></button>
<button id="btn-hidden-quotation-data" [hidden]="true" (click)="getQuotationData()"></button>
<button id="btn-hidden-sale-user-data" [hidden]="true" (click)="getSalesUserServiceData()"></button>
<button id="btn-hidden-technical-user-data" [hidden]="true" (click)="getTechnicalUserServiceData()"></button>
<button id="btn-hidden-functional-user-data" [hidden]="true" (click)="getFunctionalUserServiceData()"></button>
<button id="btn-hidden-delivery-data" [hidden]="true" (click)="getDeliveryServiceData()"></button>
<button id="btn-hidden-selectedValue-data" [hidden]="true" (click)="setDropdownSelectedValueData()"></button>
<button id="btn-hidden-activity-delete-modal" [hidden]="true" data-toggle="modal" data-target="#activity-delete-confirmation-modal"></button>
<button id="btn-hidden-activity-detail-modal" [hidden]="true" data-toggle="modal" data-target="#activity-detail-modal"></button>
<button id="btn-hidden-activity-data" [hidden]="true" (click)="getListActivity(true)"></button>
<button id="btn-hidden-finished-load" [hidden]="true" (click)="finishedLoad()"></button>
