<div class="content-section-b">
    <div class="section-heading-custom">
        <div class="container">
            <!-- <button class="menu-button pull-right" (click)="showMenu()"><i class="fa fa-bars fa-3x"></i></button> -->
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fff; font-size: 35px;">DASHBOARD</h1>
            <p class="lead">
                Main Menu
            </p>
        </div>
    </div>
</div>

<div class="custom-content-a">
    <div class="container">
        <div *ngIf="isLoadingDashboard" align="center">
            <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
        </div>
        <div *ngIf="isFinishedLoadingDashboard">
            <ul class="nav nav-tabs">
                <!-- <li><a data-toggle="tab" href="#calendar">Calendar</a></li> -->
                <li class="active"><a data-toggle="tab" href="#sales">Sales</a></li>
                <li><a data-toggle="tab" href="#support">Support</a></li>
                <li><a data-toggle="tab" href="#soft-dev">Soft-Dev</a></li>
                <li><a data-toggle="tab" href="#admin">Admin</a></li>
                <li><a data-toggle="tab" href="#setup">Setup</a></li>
            </ul>
            <br />
            <div class="tab-content">
                <div id="calendar" class="tab-pane fade">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <td style="width: 24%;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Month</span>
                                    <wj-combo-box [itemsSource]="listMonths" [placeholder]="'Select Month'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="monthSelectedValue"
                                        (selectedIndexChanged)="monthSelectedIndexChangedClick()" style="width: 100%; ">
                                    </wj-combo-box>
                                </div>
                            </td>
                            <td style="width: 1%;"></td>
                            <td style="width: 24%;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Year</span>
                                    <wj-combo-box [itemsSource]="listYears" [placeholder]="'Select Year'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="yearSelectedValue"
                                        (selectedIndexChanged)="yearSelectedIndexChangedClick()" style="width: 100%; ">
                                    </wj-combo-box>
                                </div>
                            </td>
                            <td style="width: 1%;"></td>
                            <td style="width: 24%;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-question-circle-o fa-fw"></i> Status</span>
                                    <wj-combo-box [itemsSource]="listStatus" [placeholder]="'Select Status'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="statusSelectedValue"
                                        (selectedIndexChanged)="statusSelectedIndexChangedClick()" style="width: 100%; ">
                                    </wj-combo-box>
                                </div>
                            </td>
                            <td style="width: 1%;"></td>
                            <td style="width: 25%;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw"></i> Document</span>
                                    <wj-combo-box [itemsSource]="listDocument" [placeholder]="'Select Document'" [isEditable]="false" [isRequired]="true" [(selectedValue)]="documentSelectedValue"
                                        (selectedIndexChanged)="documentSelectedIndexChangedClick()" style="width: 100%; ">
                                    </wj-combo-box>
                                </div>
                            </td>
                        </div>
                        <div class="panel-body">
                            <wj-flex-grid [itemsSource]="calendarCollectionView" [headersVisibility]="1" id="tableCalendar" [itemFormatter]="itemFormatter"
                                [selectionMode]="1">
                                <wj-flex-grid-column [header]="'Sunday'" [binding]="'Sunday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Sunday.sunDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Sunday.sun_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Sunday.sun_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Sunday.sun_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Sunday.sun_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Sunday.sun_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Monday'" [binding]="'Monday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Monday.monDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Monday.mon_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Monday.mon_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Monday.mon_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Monday.mon_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Monday.mon_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Tuesday'" [binding]="'Tuesday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Tuesday.tuesDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Tuesday.tue_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Tuesday.tue_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Tuesday.tue_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Tuesday.tue_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Tuesday.tue_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Wednesday'" [binding]="'Wednesday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Wednesday.wednesDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Wednesday.wed_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Wednesday.wed_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Wednesday.wed_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Wednesday.wed_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Wednesday.wed_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Thursday'" [binding]="'Thursday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Thursday.thursDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Thursday.thu_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Thursday.thu_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Thursday.thu_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Thursday.thu_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Thursday.thu_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Friday'" [binding]="'Friday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Friday.friDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Friday.fri_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Friday.fri_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Friday.fri_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Friday.fri_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Friday.fri_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Saturday'" [binding]="'Saturday'" [isReadOnly]="true" [width]="'*'">
                                    <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                        <b style="font-size: 20px;"> {{ '' }} {{cell.item.Saturday.saturDay}} {{ '' }} </b>
                                        <br /><br />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Saturday.sat_No_of_Lead_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Saturday.sat_No_of_Quotation_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Saturday.sat_No_of_Delivery_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Saturday.sat_No_of_Support_Activities}} {{ '' }}</a><br
                                        />
                                        <a style="text-align: left; font-weight: bold;">{{ '' }} {{cell.item.Saturday.sat_No_of_Software_Development_Activities}} {{ '' }}</a>
                                    </template>
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                        <div class="panel-footer">
                            List of Activities and Schedules
                        </div>
                    </div>
                </div>
                <div id="sales" class="tab-pane fade in active">
                    <table class="table table-bordered dashboardTable" border="0">
                        <thead style="background-color: #112540; border: 1px sold #112540; color: #fff;">
                            <tr>
                                <th style="width: 30%;">
                                    <div class="text-center">
                                        <h4>Activities</h4>
                                    </div>
                                </th>
                                <th style="width: 70%;">
                                    <div class="text-center">
                                        <h4>Documents</h4>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a routerLink="/lead" class="btn btn-primary btn-lg btn-block btn-custom-menu btn-custom-menubtn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/debt.svg">
                                        <br /><br /> Leads
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/quotation" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/survey.svg">
                                        <br /><br /> Quotation
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        POS Contract
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        FMIS Contract
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        HRIS Contract
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        POS Brochure
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        FMIS Brochure
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        HRIS Brochure
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/delivery" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/collaboration.svg">
                                        <br /><br /> Kick-Off Meeting
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        POS Checklist
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        FMIS Checklist
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        HRIS Checklist
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/activity" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/opened_folder.svg">
                                        <br /><br /> Activities
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/report" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/print.svg">
                                        <br /><br />
                                        Reports
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="support" class="tab-pane fade">
                    <table class="table table-bordered dashboardTable" border="0">
                        <thead style="background-color: #112540; border: 1px sold #112540; color: #fff;">
                            <tr>
                                <th style="width: 30%;">
                                    <div class="text-center">
                                        <h4>Activities</h4>
                                    </div>
                                </th>
                                <th style="width: 70%;">
                                    <div class="text-center">
                                        <h4>Documents</h4>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a routerLink="/delivery" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/shipped.svg">
                                        <br /><br /> Product Delivery
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/continuity" button class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/online_support.svg">
                                        <br /><br /> BCS
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        BCS Contract
                                    </button>
                                    <button class="btn btn-default" style="margin-bottom: 5px;">
                                        BCS Brochure
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/supportActivity" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/phone.svg">
                                        <br /><br /> Support
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/activity" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/opened_folder.svg">
                                        <br /><br /> Activities
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/report" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/print.svg">
                                        <br /><br />
                                        Reports
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="soft-dev" class="tab-pane fade">
                    <table class="table table-bordered dashboardTable" border="0">
                        <thead style="background-color: #112540; border: 1px sold #112540; color: #fff;">
                            <tr>
                                <th style="width: 30%;">
                                    <div class="text-center">
                                        <h4>Activities</h4>
                                    </div>
                                </th>
                                <th style="width: 70%;">
                                    <div class="text-center">
                                        <h4>Documents</h4>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a routerLink="/project" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/business.svg">
                                        <br /><br /> Project
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/softwareDevelopment" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/multiple_devices.svg">
                                        <br /><br /> Software Development
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/activity" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/opened_folder.svg">
                                        <br /><br /> Activities
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/report" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/print.svg">
                                        <br /><br />
                                        Reports
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="admin" class="tab-pane fade">
                    <table class="table table-bordered dashboardTable" border="0">
                        <thead style="background-color: #112540; border: 1px sold #112540; color: #fff;">
                            <tr>
                                <th style="width: 30%;">
                                    <div class="text-center">
                                        <h4>Activities</h4>
                                    </div>
                                </th>
                                <th style="width: 70%;">
                                    <div class="text-center">
                                        <h4>Documents</h4>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-lg btn-block btn-custom-menu" routerLink="/request">
                                        <img height="70" src="app/images/svgIcons/inspection.svg">
                                        <br /><br />
                                        Request
                                    </button>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/document.svg">
                                        <br /><br />
                                        Memo
                                    </button>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="/report" class="btn btn-primary btn-lg btn-block btn-custom-menu">
                                        <img height="70" src="app/images/svgIcons/print.svg">
                                        <br /><br />
                                        Reports
                                    </a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="setup" class="tab-pane fade">
                    <table class="table table-bordered dashboardTable" border="0">
                        <thead style="background-color: #112540; border: 1px sold #112540; color: #fff;">
                            <tr>
                                <th style="width: 30%;">
                                    <div class="text-center">
                                        <h4>View</h4>
                                    </div>
                                </th>
                                <th style="width: 70%;">
                                    <div class="text-center">
                                        <h4>Documents</h4>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-lg btn-block btn-custom-menu" routerLink="/customer">
                                        <img height="70" src="app/images/svgIcons/conference_call.svg">
                                        <br /><br />
                                        Customer
                                    </button>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-lg btn-block btn-custom-menu" routerLink="/product">
                                        <img height="70" src="app/images/svgIcons/paid.svg">
                                        <br /><br />
                                        Product
                                    </button>
                                </td>
                                <td>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary btn-lg btn-block btn-custom-menu" routerLink="/user">
                                        <img height="70" src="app/images/svgIcons/key.svg">
                                        <br /><br />
                                        User
                                    </button>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>