<div class="content-section-b">
    <div class="section-heading-custom">
        <div class="container">
            <button class="menu-button pull-right" (click)="showMenu()"><i class="fa fa-bars fa-3x"></i></button>
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #fff; font-size: 35px;">LEADS</h1>
            <p class="lead">
                List of Leads
            </p>
        </div>
    </div>
</div>
<div class="custom-content-a"> 
    <div class="container">
        <div class="well well-sm">
            <a routerLink="/dashboard">Dashboard</a> &nbsp; / &nbsp; Leads
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input type="text" class="form-control" placeholder="filter" [(ngModel)]="filter" />
                            </div>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" (click)="btnAddLeadClick()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#lead-detail-modal"><i class="fa fa-plus fa-fw"></i> Add</button>
                            <button class="btn btn-danger" (click)="backClicked()"><i class="fa fa-close fa-fw"></i> Close</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-heading">
                <table border="0" style="width: 100%;">
                    <tr>
                        <td style="width: 30%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> Start Date</span>
                                <wj-input-date
                                    [(value)]="leadStartDateValue" 
                                    [format]="'MMM dd, yyyy'"
                                    (valueChanged)="leadStartDateOnValueChanged()"
                                    style="border-radius: 0px;">
                                </wj-input-date>
                            </div>
                        </td>
                        <td style="width: 30%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i> End Date</span>
                                <wj-input-date
                                    [(value)]="leadEndDateValue" 
                                    [format]="'MMM dd, yyyy'"
                                    (valueChanged)="leadEndDateOnValueChanged()"
                                    style="border-radius: 0px;">
                                </wj-input-date>
                            </div>
                        </td>
                        <td style="width: 30%;">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-question-circle-o fa-fw"></i> Status</span>
                                 <wj-combo-box 
                                    [itemsSource]="fliterLeadStatusArray" 
                                    [placeholder]="'Select Status'"
                                    [isEditable]="false"
                                    [isRequired]="true"
                                    [(selectedValue)]="filterLeadStatusSelectedValue"
                                    (selectedIndexChanged)="filterLeadStatusSelectedIndexChangedClick()"
                                    style="width: 100%; border-radius: 0px;">
                                </wj-combo-box>
                            </div>
                        </td>
                        <td style="width: 1%;"></td>
                        <td style="width: 9%;">
                            <button class="btn btn-default btn-sm btn-block" id="btnRefresh" (click)="refreshGrid()"><i class="fa fa-refresh fa-fw"></i> Refresh</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                 <wj-flex-grid [itemsSource]="leadCollectionView" [selectionMode]="3" style="border-radius: 0px;" [frozenColumns]="2">
                    <wj-flex-grid-column [header]="Edit" [isReadOnly]="true" [isContentHtml]="true" [width]="60">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-primary btn-xs btn-block" (click)="btnEditLead()">
                                <i class="fa fa-edit fa-fw"></i> Edit
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="Delete" [isReadOnly]="true" [width]="80">
                        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button class="btn btn-danger btn-xs btn-block" (click)="deleteLeadClick()" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#lead-delete-confirmation-modal">
                                <i class="fa fa-trash fa-fw"></i> Delete
                            </button>
                        </template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Lead No.'" [binding]="'LeadNumber'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Lead Date'" [binding]="'LeadDate'" [isReadOnly]="true" [width]="'1*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Name'" [binding]="'LeadName'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Encoded By'" [binding]="'EncodedByUser'" [isReadOnly]="true" [width]="'1.5*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Assigned To'" [binding]="'AssignedToUser'" [isReadOnly]="true" [width]="'1.5*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'LeadStatus'" [isReadOnly]="true" [width]="'1.5*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 btn-group" id="">
                        <button type="button" class="btn btn-default" (click)="leadCollectionView.moveToFirstPage()">
                            <span class="glyphicon glyphicon-fast-backward"></span> First
                        </button>
                        <button type="button" class="btn btn-default" (click)="leadCollectionView.moveToPreviousPage()">
                            <span class="glyphicon glyphicon-step-backward"></span> Previous
                        </button>
                        <button type="button" class="btn btn-default" disabled  style="width:100px">
                            {{ leadCollectionView.pageIndex + 1 }} / {{ leadCollectionView.pageCount }}
                        </button>
                        <button type="button" class="btn btn-default" (click)="leadCollectionView.moveToNextPage()">
                            Next <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button type="button" class="btn btn-default" (click)="leadCollectionView.moveToLastPage()">
                            Last <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- lead  detail modal -->
<div class="modal fade" id="lead-detail-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form (ngSubmit)="btnSaveLead()" #leadForm="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">Add Lead</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="isLoading" align="center">
                        <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                    </div>
                    <div *ngIf="isFinishLoading">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Lead Date</label>
                                        <div class="col-sm-8">
                                            <wj-input-date
                                                [(value)]="leadDateValue" 
                                                [format]="'MMM dd, yyyy'"
                                                (valueChanged)="leadDateOnValueChanged()"
                                                style="width: 100%; border-radius: 0px; padding-left: 3px; border-left: 5px solid #42A948;">
                                            </wj-input-date>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Lead Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="leadName" class="form-control" id="leadName" name="leadName" #LeadName="ngModel" placeholder="Lead Name" required/>
                                            <div [hidden]="LeadName.valid || LeadName.pristine" class="alert alert-danger">
                                                <b>Lead Name</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Address</label>
                                        <div class="col-sm-8">
                                            <textarea [(ngModel)]="leadAddress" class="form-control" rows="3" id="leadAddress" name="leadAddress" #Address="ngModel" placeholder="Address" required></textarea>
                                            <div [hidden]="Address.valid || Address.pristine" class="alert alert-danger">
                                                <b>Address</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Contact Person</label>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="leadContactPerson" class="form-control" id="leadContactPerson" name="leadContactPerson" #ContactPerson="ngModel"  placeholder="Contact Person" required/>
                                            <div [hidden]="ContactPerson.valid || ContactPerson.pristine" class="alert alert-danger">
                                                <b>Contact Person</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Contact Position</label>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="leadContactPosition" class="form-control" id="leadContactPosition" name="leadContactPosition"  #ContactPosition="ngModel" placeholder="Contact Position" required/>
                                            <div [hidden]="ContactPosition.valid || ContactPosition.pristine" class="alert alert-danger">
                                                <b>Contact Position</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Contact Email</label>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="leadContactEmail" class="form-control" id="leadContactEmail" name="leadContactEmail" #ContactEmail="ngModel" placeholder="Contact Email" required/>
                                            <div [hidden]="ContactEmail.valid || ContactEmail.pristine" class="alert alert-danger">
                                                <b>Contact Email</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Contact Numbers</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" [(ngModel)]="leadContactNumber" rows="3" id="leadContactNumber" name="leadContactNumber" #ContactPhoneNo="ngModel" placeholder="Contact Numbers" required></textarea>
                                            <div [hidden]="ContactPhoneNo.valid || ContactPhoneNo.pristine" class="alert alert-danger">
                                                <b>Contact Numbers</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Referred By</label>
                                        <div class="col-sm-8">
                                            <input type="text" [(ngModel)]="leadReferredBy" class="form-control" id="leadReferredBy" name="leadReferredBy" #ReferredBy="ngModel" placeholder="Referred By" required/>
                                            <div [hidden]="ReferredBy.valid || ReferredBy.pristine" class="alert alert-danger">
                                                <b>Referred By</b> Field is Required! Please provide "NA" if there's' no data to save.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Assigned To</label>
                                        <div class="col-sm-8">
                                            <div [ngStyle]="{'border-left' : getBorderColor()}">
                                                 <wj-combo-box 
                                                    [itemsSource]="leadAssignedUserObservableArray" 
                                                    [placeholder]="'Select User'"
                                                    [displayMemberPath]="'FullName'" 
                                                    [selectedValuePath]="'Id'"
                                                    [(selectedValue)]="leadAssignedToSelectedValue"
                                                    [isEditable]="true"
                                                    [isRequired]="false"
                                                    (selectedIndexChanged)="cboAssignedToSelectedIndexChangedClick()"
                                                    style="width: 100%; border-radius: 0px; padding-left: 3px;">
                                                </wj-combo-box>
                                            </div>
                                            <div *ngIf="isValidNullValues">
                                                <div class="alert alert-info">
                                                    The <b>Assigned To</b> field allows a null value.
                                                    When the set value in the combo box is not in the list, 
                                                    it will automatically set as a null value. 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Remarks</label>
                                        <div class="col-sm-8">
                                            <textarea [(ngModel)]="leadRemarks" class="form-control" rows="5" id="leadRemarks" name="leadRemarks" #Remarks="ngModel" placeholder="Remarks" required></textarea>
                                            <div [hidden]="Remarks.valid || Remarks.pristine" class="alert alert-danger">
                                                <b>Remarks</b> Field is Required! Please provide "NA" if there are no data to be saved.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-4">Status</label>
                                        <div class="col-sm-8">
                                            <wj-combo-box 
                                                [itemsSource]="leadStatusArray" 
                                                [placeholder]="'Select Status'"
                                                [isEditable]="false"
                                                [isRequired]="true"
                                                [(selectedValue)]="leadStatusSelectedValue"
                                                (selectedIndexChanged)="cboStatusSelectedIndexChangedClick()"
                                                style="width: 100%; border-radius: 0px; padding-left: 3px; border-left: 5px solid #42A948;">
                                            </wj-combo-box>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" align="right">
                    <button type="submit" id="btnSaveLead" class="btn btn-primary" [disabled]="!leadForm.form.valid"><i class="fa fa-save fa-fw"></i> Save</button>
                    <button type="button" id="btnCloseLead" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- delete modal -->
<div class="modal fade" id="lead-delete-confirmation-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Delete Lead?
            </div>
            <div class="modal-footer" align="right">
                <button type="button" id="btnDeleteLead" class="btn btn-danger" (click)="btnDeleteConfirmLeadClick()"><i class="fa fa-trash fa-fw"></i> Delete</button>
                <button type="button" id="btnDeleteCloseLead" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close fa-fw"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- hidden elements to execute functions in API services -->
<button id="btn-hidden-start-loading" [hidden]="true" (click)="startLoading()"></button>
<button id="btn-hidden-complete-loading" [hidden]="true" (click)="completeLoading()"></button>
<button id="btn-hidden-lead-detail-modal" [hidden]="true" data-toggle="modal" data-target="#lead-detail-modal"></button>
<button id="btn-hidden-lead-delete-modal" [hidden]="true" data-toggle="modal" data-target="#lead-delete-confirmation-modal"></button>
<button id="btn-hidden-refresh-grid" [hidden]="true" (click)="getLeadData()"></button>
<button id="btn-hidden-finished-load" [hidden]="true" (click)="finishedLoad()"></button>
